## Deliverable 3. Create a Travel Itinerary Map.

In [81]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [82]:
# Chage working directory
import os
os.chdir('/Users/josecalucag/Desktop/SCS Data Analytics/6. APIs/World_Weather_Analysis/')

In [83]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,26,san quintin,MX,89.82,scattered clouds,30.48,-115.95,Old Mill Hotel
1,28,nueva gerona,CU,85.95,overcast clouds,21.88,-82.80,Casa de la Alegria
2,31,bambous virieux,MU,75.00,scattered clouds,-20.34,57.76,Casa Tia Villa
3,33,san antonio,US,87.01,clear sky,29.42,-98.49,Marriott Plaza San Antonio
4,34,sarangani,PH,84.56,overcast clouds,5.40,125.46,Ballistic Islet

In [84]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
coords = vacation_df[["Lat", "Lng"]]

In [85]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "acapulco"]
vacation_end = vacation_df.loc[vacation_df["City"] == "acapulco"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "las varas"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "san patricio"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "coahuayana"]

In [87]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
134,460,acapulco,MX,87.8,scattered clouds,16.86,-99.89,HS Hotsson Smart Acapulco

In [88]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = tuple(vacation_start.to_numpy()[0][5:7])
end = tuple(vacation_end.to_numpy()[0][5:7])
stop1 = tuple(vacation_stop1.to_numpy()[0][5:7])
stop2 = tuple(vacation_stop2.to_numpy()[0][5:7])
stop3 = tuple(vacation_stop3.to_numpy()[0][5:7])

In [89]:
print (start, stop1, stop2, stop3, end)

(16.86, -99.89) (21.17, -105.17) (19.22, -104.7) (18.73, -103.68) (16.86, -99.89)

In [117]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(18.7, -104.0), zoom_level=6)
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [93]:
# 8. To create a marker layer map between the four cities.
# Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,460,acapulco,MX,87.80,scattered clouds,16.86,-99.89,HS Hotsson Smart Acapulco
1,480,las varas,MX,89.01,clear sky,21.17,-105.17,Casa Palapas
2,121,san patricio,MX,89.60,few clouds,19.22,-104.70,Hotel Cabo Blanco
3,412,coahuayana,MX,82.40,few clouds,18.73,-103.68,Hotel Los Arcos
4,460,acapulco,MX,87.80,scattered clouds,16.86,-99.89,HS Hotsson Smart Acapulco

In [94]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [118]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(18.7, -104.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))